<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script language="javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jQuery.md5.js}"></script>
<!--    <script type="text/javascript"  th:src="@{/js/register.js}"></script>-->
    <title>注册动力金融网-动力金融网,专业的互联网金融信息服务平台</title>
	<style type="text/css">
        .testBtn-a{display: inline-block;height:40px;line-height:30px;padding:0 8px; border:0; border-radius:0px;color:#fff;background:rgb(65,133,244);cursor: pointer;}
        .testBtn-a.on{background:#c9c9c9;color:#666;cursor: default;}
    </style>
</head>
<script>


    //错误提示
    function showError(id,msg) {
        $("#"+id+"Ok").hide();
        $("#"+id+"Err").html("<i></i><p>"+msg+"</p>");
        $("#"+id+"Err").show();
        $("#"+id).addClass("input-red");
    }
    //错误隐藏
    function hideError(id) {
        $("#"+id+"Err").hide();
        $("#"+id+"Err").html("");
        $("#"+id).removeClass("input-red");
    }
    //显示成功
    function showSuccess(id) {
        $("#"+id+"Err").hide();
        $("#"+id+"Err").html("");
        $("#"+id+"Ok").show();
        $("#"+id).removeClass("input-red");
    }
    $(function () {
        var phone_tag=0;
        var loginPassword_tag=0;
        var messageCode_tag=1;
        //手机号校验
        $("#phone").blur(function () {
            phone_tag=0;
            hideError("phone");
            var phone=$("#phone").val();
            if (!/^1[1-9]\d{9}$/.test(phone)){
                showError("phone","请输入正确格式的手机号！");
                phone_tag=-1;
                return;
            }
            if (phone==$("#registerPhone").val()){
                phone_tag=-2;
                return;
            }
            phone_tag=1;
        });
        //新密码校验
        $("#newLoginPassword").blur(function () {
            loginPassword_tag=0;
            hideError("newLoginPassword");
            var newLoginPassword=$("#newLoginPassword").val();
            if (!/^(([a-zA-Z]+[0-9]+)|([0-9]+[a-zA-Z]+))[a-zA-Z0-9]*/.test(newLoginPassword)){
                showError("newLoginPassword","密码必须同时包含数字和英文字母");
                loginPassword_tag=-1;
                return;
            }
            if (newLoginPassword==$("#loginPassword").val()){
                showError("newLoginPassword","新密码与原密码不能一致");
                loginPassword_tag=-1;
                return;
            }
            showSuccess("newLoginPassword");
            loginPassword_tag=1;
        });
        //旧密码校验
        $("#loginPassword").blur(function () {
            loginPassword_tag=0;
            hideError("loginPassword");
            var loginPassword=$("#loginPassword").val();
            if (!/^(([a-zA-Z]+[0-9]+)|([0-9]+[a-zA-Z]+))[a-zA-Z0-9]*/.test(loginPassword)){
                showError("loginPassword","请输入正确的原密码");
                loginPassword_tag=-1;
                return;
            }
            $.ajax({
                url:rootPath +"/loan/page/checkPassword",
                data:{loginPassword:$.md5($.trim($("#loginPassword").val()))},
                type:"get",
                async:false,
                success:function (data) {
                    if (data.code==200){
                        showSuccess("loginPassword");
                        phone_tag=1;
                    }else {
                        showError("loginPassword",data.message);
                        phone_tag=-1;
                    }
                },
                error:function () {
                    showError("loginPassword","服务器繁忙，请稍后再试");
                    phone_tag=-1;
                }
            });
        });
        //确认密码校验
        $("#confirmLoginPassword").blur(function () {
            loginPassword_tag=0;
            hideError("confirmLoginPassword");
            var confirmLoginPassword=$("#confirmLoginPassword").val();
            var newLoginPassword=$("#newLoginPassword").val();
            if (confirmLoginPassword!=newLoginPassword){
                showError("confirmLoginPassword","两次输入的密码不一致，请重新输入");
                loginPassword_tag=-1;
                return;
            }
            showSuccess("confirmLoginPassword");
            loginPassword_tag=1;
        });

        //获取短信验证码
        $("#messageCodeBtn").click(function () {
            $("#phone").blur();
            $("#loginPassword").blur();
            alert(phone_tag+""+loginPassword_tag);
            if (phone_tag!=1||loginPassword_tag!=1){
                if (phone_tag==-2){
                    showError("phone","使用注册手机号，无需获取验证码");
                }
                return;
            }
            settime($("#messageCodeBtn"));
            var phone=$("#phone").val();
            $.ajax({
                url: rootPath +"/loan/page/messageCode",
                data:{phone:phone},
                type:"get",
                success:function (data) {
                    if (data.code==200){
                        showSuccess("phone");
                        alert(data.result);
                        phone_tag=1;
                    }else {
                        showError("phone",data.message);
                    }
                },
                error:function () {
                    showError("phone","服务器繁忙，请稍后再试");
                }
            })
        });
        //提交修改密码请求
        $("#btnRegist").click(function () {
            $("#phone").blur();
            $("#loginPassword").blur();
            $("#newLoginPassword").blur();
            $("#confirmLoginPassword").blur();
            messageCode();
            var phone=$.trim($("#phone").val());
            if ($("#registerPhone").val()==$("#phone").val()){
                phone="";
                phone_tag=1;
            }
            if (phone_tag==1&&loginPassword_tag==1&&messageCode_tag==1){
                $.ajax({
                    url:rootPath+"/loan/page/updatePassword",
                    data:{phone:phone,
                        loginPassword:$.md5($.trim($("#loginPassword").val())),
                        messageCode:$.trim($("#messageCode").val()),
                        newLoginPassword:$.md5($.trim($("#newLoginPassword").val()))
                    },
                    type:"post",
                    success:function (data) {
                        if (data.code==200){
                            window.location.href=rootPath+"/loan/myCenter";
                        }else {
                            alert(data.message);
                        }
                    },
                    error:function () {
                        showError("phone","服务器繁忙，请稍后再试");
                    }
                })
            }
        })
    });
    //验证码校验
    function messageCode(){
        messageCode_tag=0;
        hideError("messageCode");
        if ($("#messageCode").val()=="" && $("#registerPhone").val()!=$("#phone").val()){
            showError("messageCode","未使用注册手机号， 验证码不能为空");
            messageCode_tag=-1;
            return;
        }
        if ($("#registerPhone").val()==$("#phone").val()){
            messageCode_tag=1;
            $("#messageCode").val("");
        }
    }
    //验证码按钮倒计时60s
    var countdown=60;
    function settime(obj) {
        if (countdown == 0) {
            obj.removeAttr("disabled");
            obj.text("获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr("disabled", true);
            obj.text("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
                settime(obj) }
            ,1000)
    }
</script>

<body>
<div id="header">
    <div th:include="commons/header :: html"></div>
</div>

<div class="login-body regBody">
    <div class="mainBox">
        <div class="homeWap">

            <div class="reg-step">
                <ul class="clearfix">
                    <li>注册</li>
                    <li class="none">实名认证</li>
                    <li class="last">完成</li>
                </ul>
            </div>

            <div class="login-cnt reg-body clearfix">
                <div class="fl">
                    <div class="reg-link">已有帐号？<a th:href="@{/loan/page/login}">登录</a></div>
                    <div class="login-form reg-form">
                        <h2>修改密码</h2>

                        <div class="login-box clearfix " style="z-index:90;">
                            <label>原密码</label>
                            <input type="password" id="loginPassword" name="loginPassword" class="input_text"
                                   maxlength="20" placeholder="请输入6-20位英文和数字混合密码" autocomplete="off"/>
                            <span id="loginPasswordOk" class="ok" style="display:none;"></span>
                            <div id="loginPasswordErr" class="form-hint" style="display:none;z-index:90;"></div>
                        </div>


                        <div class="login-box clearfix " style="z-index:90;">
                            <label>新密码</label>
                            <input type="password" id="newLoginPassword" name="loginPassword" class="input_text"
                                   maxlength="20" placeholder="请输入6-20位英文和数字混合密码" autocomplete="off"/>
                            <span id="newLoginPasswordOk" class="ok" style="display:none;"></span>
                            <div id="newLoginPasswordErr" class="form-hint" style="display:none;z-index:90;"></div>
                        </div>

                        <div class="login-box clearfix " style="z-index:90;">
                            <label>确认新密码</label>
                            <input type="password" id="confirmLoginPassword" name="loginPassword" class="input_text"
                                   maxlength="20" placeholder="请输入6-20位英文和数字混合密码" autocomplete="off"/>
                            <span id="confirmLoginPasswordOk" class="ok" style="display:none;"></span>
                            <div id="confirmLoginPasswordErr" class="form-hint" style="display:none;z-index:90;"></div>
                        </div>

                        <div class="login-box clearfix" style="z-index:100;">
                            <label>手机号</label>
                            <input type="text" id="phone" name="phone" class="input_text" maxlength="11"
                                   placeholder="请输入11位手机号码" autocomplete="off" th:value="${phone}"/>
                            <input id="registerPhone" type="hidden" th:value="${phone}" />
                            <span id="phoneOk" class="ok" style="display:none;"></span>
                            <div id="phoneErr" class="form-hint" style="display:none;"></div>
                        </div>

                        <div class="login-box clearfix" style="z-index:60;">
                            <label>&nbsp;</label>
                            <div class="yzm-box">
                                <input id="messageCode" type="text" class="yzm" placeholder="获取短信验证码"/>
                                &nbsp;&nbsp;
                                <button type="button" class="testBtn-a" id="messageCodeBtn">获取验证码</button>
                            </div>
                            <span id="messageCodeOk" class="ok" style="display:none;"></span>
                            <div id="messageCodeErr" class="form-hint" style="display:none;"></div>
                        </div>

<!--                        <div class="remember" style="z-index:60;">-->
<!--                <span class="on">-->
<!--                <input id="agree" name="agree" type="checkbox"/>我已阅读并同意<a-->
<!--                        href="javascript:alertBox('mask','agreement');"><font-->
<!--                        style="color: red;">《动力金融网&trade;注册服务协议》</font></a>-->
<!--                </span>-->
<!--                        </div>-->

                        <div class="bn-login">
                            <button id="btnRegist">
                                确认修改
                            </button>
                        </div>

                    </div>
                </div>
                <div class="reg-right">
                    <div class="reg-txt clearfix">
                        <p>
                            万名用户知心托付<br/>
                            千万级技术研发投入<br/>
                        </p>
                        <p>
                            12.7%历史年化收益<br/>
                            亿级注册资本平台
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->

<!--遮罩层start-->
<div id="mask" class="dialog-overlay" style="display:none;"></div>
<!--遮罩层end-->

</body>
</html>